<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>Associated Domains</key>
	<array>
		<string>applinks:adoddleak.asite.com</string>
		<string>applinks:adoddleb.asite.com</string>
		<string>applinks:adoddlesb.asite.com</string>
		<string>applinks:adoddlestg.asite.com</string>
		<string>applinks:adoddlef.asite.com</string>
		<string>applinks:adoddleuae.asite.com</string>
		<string>applinks:adoddleksa.asite.com</string>
		<string>applinks:adoddleh.asite.com</string>
		<string>applinks:adoddlehk.asite.com</string>
		<string>applinks:portalak.asite.com</string>
		<string>applinks:portalsb.asite.com</string>
		<string>applinks:portalstg.asite.com</string>
		<string>applinks:portaluae.asite.com</string>
		<string>applinks:portalksa.asite.com</string>
		<string>applinks:portalh.asite.com</string>
		<string>applinks:portalhk.asite.com</string>
		<string>applinks:portal.asite.com</string>
		<string>applinks:www.asite.com</string>
		<string>applinks:adoddled.asite.com</string>
		<string>applinks:adoddleqa.asite.com</string>
		<string>applinks:adoddleqa2b.asite.com</string>
		<string>applinks:portalqa.asite.com</string>
		<string>applinks:portalqa2.asite.com</string>
		<string>applinks:wwwqa2.asite.com</string>
		<string>applinks:adoddleqa2d.asite.com</string>
		<string>applinks:adoddleqab.asite.com</string>
		<string>applinks:wwwqa.asite.com</string>
		<string>applinks:portalqa.asite.com</string>
		<string>applinks:portalqaak.asite.com</string>
		<string>applinks:adoddleqaak.asite.com</string>
		<string>applinks:adoddleqa.asite.com</string>
		<string>applinks:adoddleusgov.asite.com</string>
		<string>applinks:adoddleusgovak.asite.com</string>
		<string>applinks:portalusgovak.asite.com</string>
		<string>applinks:portalusgov.asite.com</string>
		<string>applinks:adoddleusgovb.asite.com</string>
		<string>applinks:adoddleusgovd.asite.com</string>
		<string>applinks:adoddleusgovak.qa.asite.com</string>
		<string>applinks:portalusgovak.qa.asite.com</string>
		<string>applinks:portalusgov.qa.asite.com</string>
		<string>applinks:adoddleusgovqa2.asite.com</string>
		<string>applinks:adoddleusgovqa2ak.asite.com</string>
		<string>applinks:portalusgovqa2ak.asite.com</string>
		<string>applinks:portalusgovqa2.asite.com</string>
		<string>applinks:adoddleusgovqa2b.asite.com</string>
		<string>applinks:qr.asite.com</string>
		<string>applinks:qrqa2.asite.com</string>
		<string>applinks:qrusgov.asite.com</string>
		<string>applinks:qrd.asite.com</string>
		<string>applinks:qrb.asite.com</string>
		<string>applinks:qr.asite.com</string>
		<string>applinks:qrqa2b.asite.com</string>
		<string>applinks:qrqab.asite.com</string>
		<string>applinks:qrsb.asite.com</string>
		<string>applinks:qrstg.asite.com</string>
		<string>applinks:qrf.asite.com</string>
		<string>applinks:qruae.asite.com</string>
		<string>applinks:qrksa.asite.com</string>
		<string>applinks:qrh.asite.com</string>
		<string>applinks:qrhk.asite.com</string>
	</array>
	<key>Bundle Display Name</key>
	<string>$(PRODUCT_NAME)</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CF Bundle Display Name</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.asite.field</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>field</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>CURRENT_SCHEME_NAME</key>
	<string>$(CURRENT_SCHEME_NAME)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlegmail</string>
		<string>x-dispatch</string>
		<string>readdle-spark</string>
		<string>airmail</string>
		<string>ms-outlook</string>
		<string>ymail</string>
		<string>fastmail</string>
		<string>superhuman</string>
		<string>protonmail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This will allow us to detect if an Apple Pencil is paired, enabling palm rejection and the ability to scroll with one finger while annotating.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This will allow us detect if an Apple Pencil is paired, enabling palm rejection and the ability to scroll with one finger while annotating.</string>
	<key>NSCameraUsageDescription</key>
	<string>Granting access will allow you to capture photos and add them to attachment fields of the site task forms and quality.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location information will be captured while using your camera to take photos or videos using the App.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location information will be captured while using your camera to take photos or videos using the App.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location information will be captured while using your camera to take photos or videos using the App.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Granting access will allow you to record audio and add them to attachment fields of the site task forms and quality.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Granting access will allow you to select photos and add them to attachment fields of the site task forms and quality.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
</dict>
</plist>
