<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:adoddleak.asite.com</string>
		<string>applinks:adoddleb.asite.com</string>
		<string>applinks:adoddlesb.asite.com</string>
		<string>applinks:adoddlestg.asite.com</string>
		<string>applinks:adoddlef.asite.com</string>
		<string>applinks:adoddleuae.asite.com</string>
		<string>applinks:adoddleksa.asite.com</string>
		<string>applinks:adoddleh.asite.com</string>
		<string>applinks:adoddlehk.asite.com</string>
		<string>applinks:portalak.asite.com</string>
		<string>applinks:portalsb.asite.com</string>
		<string>applinks:portalstg.asite.com</string>
		<string>applinks:portaluae.asite.com</string>
		<string>applinks:portalksa.asite.com</string>
		<string>applinks:portalh.asite.com</string>
		<string>applinks:portalhk.asite.com</string>
		<string>applinks:portal.asite.com</string>
		<string>applinks:www.asite.com</string>
		<string>applinks:adoddled.asite.com</string>
		<string>applinks:adoddleqa.asite.com</string>
		<string>applinks:adoddleqa2b.asite.com</string>
		<string>applinks:portalqa.asite.com</string>
		<string>applinks:portalqa2.asite.com</string>
		<string>applinks:wwwqa2.asite.com</string>
		<string>applinks:adoddleqa2d.asite.com</string>
		<string>applinks:adoddleqab.asite.com</string>
		<string>applinks:wwwqa.asite.com</string>
		<string>applinks:portalqa.asite.com</string>
		<string>applinks:portalqaak.asite.com</string>
		<string>applinks:adoddleqaak.asite.com</string>
		<string>applinks:adoddleqa.asite.com</string>
		<string>applinks:adoddleusgov.asite.com</string>
		<string>applinks:adoddleusgovak.asite.com</string>
		<string>applinks:portalusgovak.asite.com</string>
		<string>applinks:portalusgov.asite.com</string>
		<string>applinks:adoddleusgovb.asite.com</string>
		<string>applinks:adoddleusgovd.asite.com</string>
		<string>applinks:adoddleusgovak.qa.asite.com</string>
		<string>applinks:portalusgovak.qa.asite.com</string>
		<string>applinks:portalusgov.qa.asite.com</string>
		<string>applinks:adoddleusgovqa2.asite.com</string>
		<string>applinks:adoddleusgovqa2ak.asite.com</string>
		<string>applinks:portalusgovqa2ak.asite.com</string>
		<string>applinks:portalusgovqa2.asite.com</string>
		<string>applinks:adoddleusgovqa2b.asite.com</string>
		<string>applinks:qr.asite.com</string>
		<string>applinks:qrqa2.asite.com</string>
		<string>applinks:qrusgov.asite.com</string>
		<string>applinks:qrd.asite.com</string>
		<string>applinks:qrb.asite.com</string>
		<string>applinks:qr.asite.com</string>
		<string>applinks:qrqa2b.asite.com</string>
		<string>applinks:qrqab.asite.com</string>
		<string>applinks:qrsb.asite.com</string>
		<string>applinks:qrstg.asite.com</string>
		<string>applinks:qrf.asite.com</string>
		<string>applinks:qruae.asite.com</string>
		<string>applinks:qrksa.asite.com</string>
		<string>applinks:qrh.asite.com</string>
		<string>applinks:qrhk.asite.com</string>
	</array>
</dict>
</plist>
